streamlit==1.39.0
openai==1.47.1

# Compatible LangChain family
langchain==0.3.3
langchain-community==0.3.2
langchain-openai==0.2.2
langchain-core==0.3.79

python-dotenv==1.0.1
sshtunnel==0.4.0
pymysql==1.1.1
sqlalchemy==2.0.35
cryptography==43.0.1
